spring:
  security:
    user:
      password: password
  datasource:
    url: jdbc:postgresql://localhost:5432/superfuse_db
    username: postgres
    password: Abes@2027
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true