server:
  port: 8082

spring:
  application:
    name: address-service

  datasource:
    url: jdbc:postgresql://localhost:5432/superfuse_db
    username: postgres
    password: Abes@2027
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
    open-in-view: false

  logging:
  level:
    org.hibernate.SQL: debug
    org.hibernate.orm.jdbc.bind: trace
    org.springframework.web: info
